{% extends 'base.html' %}
{% load i18n %}
{% block content %}


{{trademan_options}}<br><br>


{% for tradsman in tradsmen %}
    {{ tradsman.firstname|upper }}<br>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if tradsmen.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ tradsmen.number }} of {{ tradsmen.paginator.num_pages }}.
        </span>

        {% if tradsmen.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
            <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}